<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <connectionStrings>
    <!-- 
        DataSource: nombre del servidor o instancia
        Initial Catalog: nombre de la base de datos
        Integrated Security=SSPI (autenticación con credenciales de windows)
    -->
    <add name="AdventureWorks2012" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=AdventureWorks2012;Integrated Security=SSPI"/>
  </connectionStrings>

</configuration>